.checkout__bill {
  background: #a5a5a57e;
  padding: 30px;
  border-radius: 15px;
}
.whatsapp{
  text-decoration: none;
}

#wa_btn{
  margin-left: 10px;

}

.checkout__total {
  border-top: 1px solid #ddd;
  padding-top: 30px;
}

@media only screen and (max-width: 768px) {
  .checkout__bill h6 {
    font-size: 0.9rem;
  }
  .checkout__bill {
    margin-top: 40px;
  }
}
