.App {
    font-family: sans-serif;
    text-align: center;
    padding: 40px 0px;
    border-radius: 5px;
    transition: 0.4s;
  }
.m-auto text-center {
    background: #a5a5a57e;
    padding: 30px;
    border-radius: 15px;
  }